<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Retina sprite demo</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
  <h1>Retina sprite demo</h1>

  <div class="well">
    <i class="add-icon" title="add"></i>
    <i class="cog-icon" title="cog"></i>
    <i class="cross-icon" title="cross"></i>
    <i class="page-icon" title="page"></i>
    <i class="pencil-icon" title="pencil"></i>
  </div>

  <p>Icons from FamFamFam's excellent <a href="http://www.famfamfam.com/lab/icons/silk/">Silk icon set</a> and James Finley's <a href="https://github.com/jamesfinley/famfamfam-2x">famfamfam-2x</a> project.</p>

</body>
</html>
